<h2>Lista de usuarios</h2>

<button type="button" class="btn btn-outline-primary" data-toggle="modal"
    data-target="#exampleModal">Agregar</button>

<div class="container">

    <div class="row" *ngIf="!isLoading && usersList.length">
        <app-usuario *ngFor="let user of usersList; let i = index" (eliminar)="eliminarUsuario($event)" [indice]="i"
            [user]="user"></app-usuario>
    </div>

</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div class="alert alert-primary" role="alert" *ngIf="!isLoading && !usersList.length">
    No hay usuarios
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-nuevo-usuario (agregar)="nuevoUsuario($event)"></app-nuevo-usuario>
                <!-- <form #formUser="ngForm" (ngSubmit)="onSubmit()" style="justify-content:center;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../../assets/images/foto-usuario.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">




                            <div>
                                <label>Usuario:</label>
                            </div>
                            <div>
                                <input type="text" name="username" #username="ngModel" [(ngModel)]="usuario.username"
                                    required>
                                <span *ngIf="username.touched && !username.valid">
                                    <div class="alert alert-warning" role="alert">
                                        El nombre de usuario es obligatorio
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" [disabled]="!formUser.valid" class="btn btn-primary">Agregar</button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>