<div class="col-lg-8 col-lg-offset-2">
    <div class = "jumbotron">
        <h1>Error 404</h1>
        <h3><p>Oops!!! la url a la que intentas ingresar no existe.</p> <p>Verifica por favor el nombre =)</p></h3>
    </div>
</div>

