<form #formUser="ngForm" (ngSubmit)="onSubmit();addUsuario($event)" style="justify-content:center;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../assets/images/foto-usuario.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">

            <div>
                <label>Usuario:</label>
            </div>
            <div>
                <input type="text" name="username" #username="ngModel" [(ngModel)]="usuario.username"
                    required>
                <span *ngIf="username.touched && !username.valid">
                    <div class="alert alert-warning" role="alert">
                        El nombre de usuario es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Nombre Completo:</label>
            </div>
            <div>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="usuario.name"
                    required>
                <span *ngIf="name.touched && !name.valid">
                    <div class="alert alert-warning" role="alert">
                        El nombre completo es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Email:</label>
            </div>
            <div>
                <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email"
                    required>
                <span *ngIf="email.touched && !email.valid">
                    <div class="alert alert-warning" role="alert">
                        El email del usuario es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Teléfono:</label>
            </div>
            <div>
                <input type="text" name="phone" #phone="ngModel" [(ngModel)]="usuario.phone"
                    required>
                <span *ngIf="phone.touched && !phone.valid">
                    <div class="alert alert-warning" role="alert">
                        El número de teléfono es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Web:</label>
            </div>
            <div>
                <input type="text" name="website" #website="ngModel" [(ngModel)]="usuario.website"
                    required>
                <span *ngIf="website.touched && !website.valid">
                    <div class="alert alert-warning" role="alert">
                        El website es obligatorio
                    </div>
                </span>
            </div>
            <hr>
            <h5 class="card-title">Dirección</h5>
            <div>
                <label>Calle:</label>
            </div>
            <div>
                <input type="text" name="street" #street="ngModel" [(ngModel)]="usuario.street"
                    required>
                <span *ngIf="street.touched && !street.valid">
                    <div class="alert alert-warning" role="alert">
                        El nombre de la calle es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Suite:</label>
            </div>
            <div>
                <input type="text" name="suite" #suite="ngModel" [(ngModel)]="usuario.suite"
                    required>
                <span *ngIf="suite.touched && !suite.valid">
                    <div class="alert alert-warning" role="alert">
                        La suite de usuario es obligatorio
                    </div>
                </span>
            </div>
            <div>
                <label>Cód. Postal:</label>
            </div>
            <div>
                <input type="text" name="zipcode" #zipcode="ngModel" [(ngModel)]="usuario.zipcode"
                    required>
                <span *ngIf="zipcode.touched && !zipcode.valid">
                    <div class="alert alert-warning" role="alert">
                        El código postal es obligatorio
                    </div>
                </span>
            </div>
            <hr>
            <h5 class="card-title">Compañía</h5>
            <div>
                <label>Nombre:</label>
            </div>
            <div>
                <input type="text" name="companyName" #companyName="ngModel" [(ngModel)]="usuario.companyName"
                    required>
                <span *ngIf="companyName.touched && !companyName.valid">
                    <div class="alert alert-warning" role="alert">
                        El nombre de la compañía es obligatorio
                    </div>
                </span>
            </div>

            <div>
                <label>Frase de Cabecera:</label>
            </div>
            <div>
                <input type="text" name="catchPhrase" #catchPhrase="ngModel" [(ngModel)]="usuario.catchPhrase"
                    required>
                <span *ngIf="catchPhrase.touched && !catchPhrase.valid">
                    <div class="alert alert-warning" role="alert">
                        La frase de cabecera es obligatorio
                    </div>
                </span>
            </div>
            <br>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" [disabled]="!formUser.valid" class="btn btn-primary" >Agregar</button>
    </div>
</form>