<div class="card separacion" style="width: 18rem;">
    
    <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <div class="card-text">
        <span>Nombre completo:</span><p>{{ user.name }}</p>
        <span>Email:</span><p>{{ user.email }}</p>
        <span>Teléfono:</span><p>{{ user.phone }}</p>
        </div>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/ver-usuario',user.id,user.name ,user.email,user.username,user.phone,user.street,user.suite,user.zipcode,user.website,user.companyName,user.catchPhrase]"
        routerLinkActive="router-link-active" >Ver</button>&nbsp; 
    <button type="button" (click) = "deleteUser($event)" class="btn btn-outline-danger">Eliminar</button>
    </div>
</div>
