.router-link-active{
    text-decoration: aqua !important;
    /* background-color: #563D73 !important; */
    border-bottom: 2px solid rgb(129, 212, 250) !important;
    background: #dae1e4;
    color: rgb(89, 89, 90) !important;
}