<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" [routerLink]="['/home']">
      <img src="https://img.icons8.com/color/50/000000/rick-sanchez.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Mi APP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" data-toggle="collapse" data-target="#navbarNav">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/home/usuarios']" routerLinkActive="router-link-active" data-toggle="collapse" data-target="#navbarNav">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active"  data-toggle="collapse" data-target="#navbarNav">Login</a>
          </li>
        </ul>
    </div>
  </nav>
  
