
<!-- <div class = "jumbotron"> -->
<div class = "login">
    <form #formLogin = "ngForm"  (ngSubmit) = "onSubmit()" style="justify-content:center;">
        <div class="card mb-3 sinborde" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/images/login.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                
                <div class="card-body">
                  <h5 class="card-title">Inicie Sesión</h5>
                  <div>
                    <label>Usuario:</label>
                </div>
        
                <div>
                    <input type="text" name = "username" #username = "ngModel" [(ngModel)]="usuario.username" required>
                    <span *ngIf="username.touched && !username.valid">
                        <div class="alert alert-warning" role="alert">
                            El nombre del usuario es obligatorio
                        </div>
                    </span> 
                </div>

                <div>
                    <label>Contraseña:</label>
                </div>
        
                <div>
                    <input type="password" name = "password" #password = "ngModel" [(ngModel)]="usuario.password" required>
                    <span *ngIf="password.touched && !password.valid">
                        <div class="alert alert-warning" role="alert">
                            La contraseña es obligatoria
                        </div>
                    </span> 
                </div>
                <hr>
                <input type="submit" value = "Login" [disabled] = "!formLogin.valid" class="btn btn-primary">
                </div>
                <div *ngIf="!userValid" class="alert alert-warning" role="alert">
                    El nombre de usuario y/o contraseña es inconrrecto.
                </div>
              </div>
            </div>
          </div>
    </form>
</div>