<h3>Bienvenido al proyecto de angular 8.</h3>
<h5>Checklist a cumplir:</h5>
<p><strong>Modules:</strong> Deberán crearse al menos 2(dos) módulos aparte del AppModule que se genera
    con el proyecto base, uno de ellos debe contener componentes que serán compartidos por
    toda la aplicación, el otro será para contener las pantallas de la aplicación. La creación de
    más módulos queda a criterio del alumno según la estructura que haya definido para su
    aplicación.
</p>
<p>
    <strong>Services:</strong> Deberá crearse al menos un servicio para realizar solicitudes http a la API.
</p>
<p>
    <strong>Models:</strong> Debe existir una interfaz para mapear los datos que debe contener un usuario y así
    utilizarlo para tipar los objetos.
</p>
<p>
    <strong>Layout:</strong> Se debe crear un componente layout que contenga el navbar, el footer y una
sección de “Content projection” para mostrar dentro cada página, TODAS las páginas deben
usar el componente layout. El navbar solo tendrá un logo cualquiera a modo de ejemplo que
al hacerle click nos lleve a la página principal de la aplicación, el footer a modo de ejemplo
puede contener texto random.
</p>
<p>
    <strong>Pages:</strong> Deberán existir al menos 3 pantallas, cada una deberá estar asociada a una ruta
manejada por Angular Router:
</p>
<ul>
    <li><strong>Login:</strong> Tendrá un formulario con dos inputs, uno para usuario, otro para contraseña y
        un botón para hacer login. El funcionamiento del login será simulado sin llegar a un
        backend, deberá permitir el login solo con los siguientes datos:
        user: test
        pass: Ayi+2020
        El login exitoso llevará a la siguiente pantalla, en caso contrario no dejará avanzar y
        mostrará un error.</li>
    <li><strong>Usuarios:</strong> El componente deberá disparar una acción de NgRx que a través de un
        effect realizará la petición a la API utilizando el servicio.
        Mientras se está haciendo la petición debe mostrar un spinner de carga, una vez que
        la petición terminó si NO hay usuarios debe mostrar un mensaje que lo indique, y si
        hay usuarios mostrar una lista con los usuarios recibidos.
        Cada usuario deberá estar dentro de una “card” mostrando los siguientes datos:
        “name, email y phone”, además de tener un botón para ir al detalle y otro para
        eliminar el usuario. Al eliminar solo se quitará de la lista actual de usuarios.
        Al clickear en el botón detalle debe ir a la pantalla “Usuario” enviando los datos del
        usuario clickeado.
        La url del servicio REST a utilizar es: <a href="https://jsonplaceholder.typicode.com/users">https://jsonplaceholder.typicode.com/users</a><br>
        <strong>OPCIONAL: </strong>Un botón “Cargar usuario” que abra una ventana modal con un
        formulario para agregar un usuario. Debe solicitar todos los datos
        correspondientes a un usuario respetando la interfaz definida para tal fin,
        validando los campos que son obligatorios(a criterio del alumno) y una vez que
        pasa las validaciones se debe agregar ese usuario a la lista que se está
        mostrando en pantalla.</li>
    <li><strong>Usuario:</strong> Esta pantalla recibirá como parámetro los datos de UN usuario que deberá
        mostrar a modo de perfil. Se mostrarán TODOS los datos que se tienen del usuario
        menos las coordenadas de su dirección, agregando además una imagen a modo de
        foto de perfil, esta última no existe en el servicio REST por lo que será una imagen
        que se encuentre dentro de la misma aplicación, la misma para todos los usuarios.
        Esta ruta deberá estar protegida por un “Guard” que verifique que la ruta está
        recibiendo los datos del usuario como p</li>
  </ul>
  <p>
    <strong>Estilos:</strong> La aplicación debe ser responsive, para realizar el diseño se podrá utilizar Bootstrap
    o Materialize CSS. Si necesitan alguna librería para íconos pueden utilizar la que deseen.
  </p>
  <p>
    <strong>Repositorio:</strong> Cada alumno deberá presentar un repositorio público en Gitlab con su
    proyecto, el mismo se deberá llamar de la siguiente manera:
  </p>
  <p>
    <strong>angular-8-project-nombre-apellido</strong>
  </p>
  <p>Ejemplo: angular-8-project-pedro-juarez</p>