<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/images/foto-usuario.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Datos del usuario {{ user.username }}</h5>
          <div class="card-text">
            <span>Nombre completo:</span><p>{{ user.name }}</p>
            <span>Email:</span><p>{{ user.email }}</p>
            <div class="row">
              <div class="col">Teléfono:</div>
              <div class="col">Web:</div>
              <div class="w-100"></div>
              <div class="col">{{ user.phone }}</div>
              <div class="col"><a href="#">{{ user.website }}</a></div>
            </div>
            <hr>
            <h5 class="card-title">Dirección</h5>
            <div class="row">
              <div class="col">Calle:</div>
              <div class="col">Suite:</div>
              <div class="w-100"></div>
              <div class="col">{{ user.street }}</div>
              <div class="col">{{ user.suite }}</div>
            </div>
            <span>Cod. Postal:</span><p>{{ user.zipcode }}</p>
            <hr>
            <h5 class="card-title">Compañía</h5>
            <span>Nombre:</span><p>{{ user.companyName }}</p>
            <span>Frase de Cabecera:</span><p>"{{ user.catchPhrase }}"</p>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/home/usuarios']" routerLinkActive="router-link-active" >Volver</button>
    </div>
  </div>
